.nav-logo
{
  font-size: 25px;
  color: black !important;
  text-decoration: none !important;
  font-family: 'Charm', cursive;
 font-family: 'Crimson Text', serif;
 font-family: 'Dancing Script', cursive;
 font-family: 'Nanum Myeongjo', serif;
 font-family: 'Newsreader', serif;
 font-family: 'Source Serif Pro', serif; 
  font-weight: bold;
}
.nav-perant
{
   font-family: 'Charm', cursive;
  font-family: 'Crimson Text', serif;
  font-family: 'Dancing Script', cursive;
  font-family: 'Nanum Myeongjo', serif;
  font-family: 'Newsreader', serif;
  font-family: 'Source Serif Pro', serif;
}
.nav-perant
{
  text-decoration: none !important;
}
.nav-icons .nav-i ,.icon-in
{
  color: rgb(0, 0, 0) !important;
  font-size: 25px !important; 
}
.N-link
{
  text-decoration: none !important;
  color: black !important;
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
}
@media screen and (max-width:991px) 
{
  .N-link
  {
       margin-top: 10px;
       text-align: center !important; 
  }
  .S-case
  {
    padding-top: 15px !important;
  }
}